Source: filebench
Section: utils
Priority: optional
Maintainer: Hyeon Kim <simnalamburt@gmail.com>
Uploaders: Martin Steigerwald <ms@teamix.de>, Alexandre Mestiashvili <alex@biotec.tu-dresden.de>
Build-Depends: debhelper (>= 9), autotools-dev, bison
Standards-Version: 3.9.4
Homepage: https://github.com/cares-snu/filebench
Vcs-Git: https://github.com/cares-snu/filebench.git
Vcs-Browser: https://github.com/cares-snu/filebench

Package: filebench
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: File system and storage benchmark for a variety of workloads
 Filebench is a filesystem and storage backup that can generate a high
 variety of workloads. It employs extensive Workload Model Language (WML)
 for detailed workload specification. It includes popular pre-defined
 workloads like: webserver, fileserver, varmail. It reports throughput
 and latency histograms.
